body{
    background-color: bisque;
}

.block-tovar{
    display: flex;
    justify-content: space-evenly;
}


.modal-block{
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 560px;
    border-radius: 15px;
    background-color: cornsilk;
    padding: 20px;
    transition: 0.4s;

}

.modal-block:hover{
    box-shadow: 0px 0px 10px 10px #003466;
    transition: 0.4s;
}

.top-block-container{
    display: flex;
flex-direction: column;
    align-items: center;
    position: relative;
}

.item-new{
    float: left;
     position: absolute;
    right: 280px;
    top: -4px;
    border-radius: 15px;
    background-color: gold;
    width: 60px;
    height: 22px;
    text-align: center;
    color: cornsilk;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 5px;
}

.item-balance{
    width: 17px;
    height: 17px;
    float: right;
    position: absolute;
    left: 300px;
    top: 10px;
}

.courusel-item{
    width: 160px;
    height: 160px;
    display: none;
}

.courusel-item.active{
    width: 160px;
    height: 160px;
    display: block;
}



.midle-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-title{
    font-size: 24px;
    font-family: sans-serif;
}

.choose-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.choose-color-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;

}

.arrow{
    cursor: pointer;
}

.bottom-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.left-btn-value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 22px;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.right-btn-value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 22px;
    border-radius: 15px;
    background-color: gold;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
.right-btn-value:hover{
    box-shadow: 0px 0px 2px 2px gold;
    transition: 0.4s;
}
.right-btn-value:focus{
    box-shadow: 0px 0px 2px 2px gold;
    transition: 0.4s;
    background-color: lightyellow;
}


.dropdown-menu ul {

    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    border-radius: 15px;
}

.dropdown-menu ul li {
    background: white;
    height: 35px;
}
.dropdown-menu ul li:hover {
    background: coral;
}
.dropdown-menu ul li a {
    display: block;
    /*width: 100%;*/
    padding: 5px 35px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.dropdown-menu ul li:first-child a {
    background: white;
}
.dropdown-menu ul li:nth-child(2) a {
    background: white;
}
.dropdown-menu ul li:last-child a {
    background: white;
}


.dropdown-menu.open ul {
    display: block;
    position: absolute;
    width: 220px;
    top: 405px;
    border-radius: 15px;
}

.valueChoosen {
    width: 30px;
    border: none;
    color:black;
}
